@gallery-1-size: 800;
@button-size: 35;
@button-offset: 15;

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial;
}

.gallery-1 {
  width: @gallery-1-size * 1px;
}

.scroll {
  /* easeOutExpo */
  -webkit-transition: all .7s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all .7s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: all .7s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .7s cubic-bezier(0.190, 1.000, 0.220, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

// rules
.gallery {
  margin: 0 auto;
  max-width: 90%;
  overflow: hidden;
  position: relative;

  .gallery-wrap {
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  img {
    display: block;
    float: left;
  }

  .counter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,.5);
    z-index: 20;
    color: #fff;
    font-size: 12px;
  }

  .button {
    width: @button-size * 1px;
    height: @button-size * 1px;
    margin-top: @button-size / 2 * (-1px);
    box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, .3);
    background-image: url(../img/arrows-2x.png);
    background-repeat: no-repeat;
    background-color: #000;
    background-size: 45px auto;
    position: absolute;
    top: 50%;
    z-index: 2;
    border-radius: 50%;
    text-indent: -9999px;
    display: block;
  }

  .prev {
    left: @button-offset * 1px;
    background-position: 5px 4px;
  }

  .next {
    right: @button-offset * 1px;
    background-position: -16px 4px;
  }
}
